.box{
    display: inline-block;
    margin-left: 65px;
    background-color: white;
    border: 2px solid #63d49e;
    height: 250px;
    width: 85%;
    border-radius: 55px;
    margin: 20px 65px 20px;
}

.details{
    color: black;
    padding-left: 50px;
    padding-top: 40px;  
}

.scholar{
    color: black;
    padding-left: 50px;
    padding-top: 0px; 
    font-size: 20px;
}

.more{
    display: flex;
    justify-content: end;
    padding-right: 50px;
    font-size: 25px;
    padding-top: 0px;
}


.more:hover{
    color: #63d49e;
}

